.icheckLegend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0px !important;
    font-size: 21px !important;
    font-weight: bold !important;
    color: #333333;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f7f7f7 !important;
    border-radius: 3px;
    padding: 3px!important;
}

.icheckFieldSet {
    padding: 10px!important;
    border: 1px!important;
    border-color: lightgray!important;
    border-style: solid!important;
    border-radius: 3px!important;
}


.icheckoptionValues {
    font-size: smaller;
    line-height: 22px;
}

.upwestChecked{
    background-color:black;
}

.i-check, .i-radio{
    accent-color: #1f72a8!important;
}