:root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;
}

.upwest-select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: white;
    cursor: pointer;
    border-color: #d1d1d1;
    border-style: double;
    border-width: 1px;
    height: 34px;
}
    /* Remove IE arrow */
    /*select::-ms-expand {
        display: none;
    }*/


/* Custom Select wrapper */
.upwest-select {
    position: relative;
    display: flex;    
    border-radius: .25em;
    overflow: hidden;
}   

    