.invalid {
    border-color: #E9322D !important;
    box-shadow: 0 0 6px #F8B9B7 !important;
}

.tabError {
    border-color: red !important;
    color: red !important;
}

.tooltip{
    top:32px!important;
}

.error {
    margin-left: 8px;
    color: red;
    font-size: smaller;
    display: block;
    margin-bottom: 0px !important;
}
