.invalid {
    border-color: #E9322D !important;
    box-shadow: 0 0 6px #F8B9B7 !important;
}

.tabError {
    border-color: red !important;
    color: red !important;
}

.tooltip{
    top:32px!important;
}

/*.upwestError {
    margin-left: 8px !important;
    color: red !important;
    font-size: smaller !important;
    display: block !important;
    margin-bottom: 0px !important;
    background-color: unset !important;
    border: 0px !important;
}*/

.upwestError {    
    color: red !important;
    font-size: smaller !important;    
    margin-bottom: 0px !important;
    background-color: unset !important;
    border: 0px !important;
}


