.times, .check {
    position: relative;
    top: -29px;
    z-index: 30;
    left: -44px;
    float: right;
    display: none
}

msg {
    width: 200px;
    height: 220px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-left: 11px;
    border-radius: 3px;
    line-height: 17px;
    display: none;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    padding: 5px;
}


msg .messageSuccess {
    width: 200px;
    height: 200px;        
    padding: 8px;
    border-radius: 3px;
    line-height: 20px;
    background-color:lightgray;
}


@keyframes example {
    0% {
        background: #ffffff
    }

    50% {
        background: lightgray;
    }

    100% {
        background: #ffffff
    }
}