<div ng-controller="upwest.radioButtonList as vm" class="bootstrap-upwest">
    <div class="bootstrap-upwest form-inline" style="text-align:left;padding-left: 10px;">
        <div class="form-group input-group" id="{{vm.alias}}-container" style="width: 100%;">
            <div class="container-fluid">
                <div class="row">
                    <div id="noneOption{{vm.alias}}" class="radio col-sm-{{vm.columns}}" style="margin-bottom: 10px;" >
                        <label>
                            <input name="{{vm.alias}}" class="i-radio {{vm.alias}}" id="opt{{vm.alias}}0" checked type="radio" ng-click="vm.setRadioButton($event)" /><val style="top:3px;position:relative;" class="icheckoptionValues">None</val>
                        </label>
                    </div>
                    <div class="radio  col-sm-{{vm.columns}}" ng-repeat="radioButton in radioButtons" style="margin-bottom: 10px;">
                        <label>
                            <input name="{{vm.alias}}" class="i-radio {{vm.alias}}" id="opt{{vm.alias}}{{radioButton.id}}" value="{{radioButton.id}}" type="radio" ng-click="vm.setRadioButton($event)" /><val style="top:3px;position:relative;" class="icheckoptionValues">{{radioButton.text}}</val>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



