.input-upwestDaterangepicker {
    transition: border .2s linear,box-shadow .2s linear !important;
}

    .input-upwestDaterangepicker:focus {
        border-color: #bbbabf;
    }

.upwestDaterangepicker {
    /*max-width: 798px !important;
    width: 100% !important;*/
    border-radius: 4px!important;
}

    .upwestDaterangepicker select.monthselect, .upwestDaterangepicker select.yearselect {
        height: 32px !important;
        line-height: 32px !important;
        border-radius: 4px !important;
        border: 1px solid #d8d7d9 !important;
    } 

@media (min-width: 564px) {
    .upwestDaterangepicker .drp-calendar.left {        
        margin-right: 130px!important;        
    }
}

.upwestDaterangepicker select.ampmselect, .upwestDaterangepicker select.hourselect, .upwestDaterangepicker select.minuteselect, .upwestDaterangepicker select.secondselect {
    background: none !important;
    border: 1px solid #d8d7d9!important;
    border-radius: 4px!important;
}

.input-upwestDaterangepicker {
    max-width: 800px !important;
    width: 100% !important;
}